[submodule "external/pistache"]
	path = external/pistache
	url = https://github.com/vigilatore/pistache.git
[submodule "external/Simple-Web-Server"]
	path = external/Simple-Web-Server
	url = https://github.com/vigilatore/Simple-Web-Server.git
