[submodule "external/pistache"]
	path = external/pistache
	url = https://github.com/oktal/pistache.git
[submodule "external/Simple-Web-Server"]
	path = external/Simple-Web-Server
	url = https://github.com/eidheim/Simple-Web-Server.git
[submodule "external/Simple-WebSocket-Server"]
	path = external/Simple-WebSocket-Server
	url = https://github.com/eidheim/Simple-WebSocket-Server.git
