[Desktop Entry]
Type=Application
Name=TrafficMonitor
GenericName=Traffic Monitor
Comment=An app to count cars.
Keywords=traffic;computer vision;data mining;
Exec=road-traffic-monitor
Icon=${SNAP}/meta/gui/icon.png
Terminal=true
StartupNotify=true
